# Directories
.vs/
bin/
bin-int/

# Files

*.user
Jellybunny-Director/JellybunnyProfile-Startup.json
Jellybunny-Director/JellybunnyProfile-Shutdown.json
Jellybunny-Director/JellybunnyProfile-Runtime.json
Jellybunny/vendor/VulkanSDK/
